@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalnia+Glaze:wght@100..700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.Kotak{
    background: url(GENSHIN.jpg);
    background-size: cover ;
    height: 100vh;
    width: auto;
    
}

label.logo{
    color: white;
    font-size: 80px;
    padding: 70px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family:"Caveat", cursive ;
}
.bar {
    height: 100px;
    width: 100%;
    background-color: #000;
    color: #fff;
    opacity: .5;
}
.bar ul{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;

}
.bar ul li{
    list-style: none;
    margin: 10px 8px;
    display: inline-block;
    line-height: 80px;

}
.bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Kalnia Glaze", serif;
    transition: .4s;
}

.bar ul li a.active,
.bar ul li a:hover{
    background: rgb(126, 0, 94);
    border-radius: 2px;

}
.Kotak .center{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color : white;
    font-size: 70px ;
    font-weight: bold;
    width: 900px;
    text-align: center;
    margin-right: 50px;
}
.center h2{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    margin-right: 50px;
    text-align: center;
}
